<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h2>微信小程序调研</h2>
          <h4 style="text-align: center">毛忠周</h4>
        </section>
        <section>
          <h3>什么是小程序</h3>
          <p>微信小程序是一种全新的连接用户与服务的方式，它可以在微信内被便捷地获取和传播，同时具有出色的使用体验。 ——官网介绍</p>
          <p>运行在微信里的应用程序，只要在微信中扫一扫或者搜一下，就可以打开。不需要下载安装。</p>
        </section>
        <section>
          <h3>小程序与普通网页区别</h3>
          <ul>
            <li><b>体验</b><br>
              入口更加便捷 <br>
              交互体验类似app<br>
              打开更加流畅
            </li>
            <li><b>权限</b><br>
              调用更多系统的权限
          </li>
          <ul>
        </section>
        <section>
          <section>
            <h3>小程序开发</h3>
            <h4>申请帐号</h4>
            <div class="part">
              <a href="https://mp.weixin.qq.com/wxopen/waregister?action=step1">https://mp.weixin.qq.com/wxopen/waregister?action=step1</a>
            </div>
            <div class="part">
              <h4>安装开发工具</h4>
              <a href="https://developers.weixin.qq.com/miniprogram/dev/devtools/download.html?t=18122815">https://developers.weixin.qq.com/miniprogram/dev/devtools/download.html?t=18122815</a>
            </div>
          </section>
          <section>
            <h4>语言</h4>
            <ul>
              <li>js</li>
              <li>json</li>
              <li><b>wxss</b><br>
                微信样式语言，
                与css相比的话，多了一个rpx尺寸单位和@import导入外部样式表的语法
              </li>
              <li><b>wxml</b><br>
                微信标记语言，自定义了一套组件和模板语法
              </li>
            </ul>
          </section>
          <section>
            <h4>目录结构</h4>
            <pre><code hljs css>
| pages/
| | index/
| | | index.js
| | | index.json
| | | index.wxml
| | | index.wxss
| utils/
| | util.js
| app.js
| app.json
| app.wxss
| project.config.json
            </code></pre>
          </section>
          <section>
            <h4>语法 数据与视图绑定</h4>
            <h5>wxml</h5>
            <pre><code hljs html>
            <view>Hello {{name}}!</view>
            </code>
            </pre>
            <h5>js</h5>
            <pre>
<code hljs js>
Page({
  data: {
    name: 'weixin'
  },
  changeName(e) {
    // 设置
    this.setData({
      name: 'MINA'
    })
  }
})</code>
            </pre>
          </section>
          <section>
            <h4>语法 条件渲染</h4>
            <h5>wxml</h5>
            <pre><code hljs html>
            <view wx:if="{{condition}}"></view>
            </code></pre>
            <h5>js</h5>
            <pre><code hljs js>
Page({
  data: {
    condition: true
  }
})
            </code></pre>
          </section>
          <section>
            <h4>其他特性</h4>
            <ul>
              <li>web-view标签</li>
              <li>npm支持</li>
              <li>组件化</li>
              <li>云开发</li>
            </ul>
          </section>
        </section>
        <section>
          <h3>开发痛点</h3>
          <ul>
            <li>没有css预处理器</li>
            <li>js只能require相对路径</li>
            <li>微信api是回调式的</li>
            <li>没有语法检查</li>
            <li>没有computed，watch等一些vue特性</li>
          </ul>
        </section>
        <section>
          <section>
            <h3>第三方小程序开发框架</h3>
            <ul>
              <li><b>mpvue</b><br>
                <p>是一个使用 Vue.js 开发小程序的前端框架。</p>
              </li>
              <li><b>wepy</b><br>
                <p>由腾讯维护的语法接近Vue.js的小程序框架</p>
              </li>
          </section>
          <section data-markdown>
            <text-area data-template>
| 框架 \ 对比 | mpvue | wepy |
| ------ | ------ | ------ |
| 语法 | vue.js | 类vue.js和原生小程序语法 |
| 学习成本 | 熟悉vue.js无成本 | 有学习成本 |
| 复用 | 稍微修改可以复用vue代码 | - |
| vue | 可以享用很多vue生态 | - |
| 灵活 | 不能使用原生模板语法 | 可使用原生模板语法 |
| api | - | 将微信的api封装成了promise式的 |
            </text-area>
          </section>
        </section>
        <section>
          <section>
            <h3>框架选择 —— 使用gulp构建小程序开发环境</h3>
            <h4>原因</h4>
            <ul>
              <li>
                引入框架，代码体积变大
              </li>
              <li>
                引入框架会使用不了原生的一些特性，还重复引入一些特性
              </li>
              <li>
                框架不成熟
              </li>
              <li>
                学习成本
              </li>
            </ul>
          </section>
          <section>
            <h4>推荐</h4>
            <ul>
              <li>
                WeApp-Workflow
                <a href="https://github.com/Jeff2Ma/WeApp-Workflow">https://github.com/Jeff2Ma/WeApp-Workflow</a></li>
              <li>
                wx-miniprogram-boilerplate
                <a href="https://github.com/YangQiGitHub/wx-miniprogram-boilerplate">https://github.com/YangQiGitHub/wx-miniprogram-boilerplate</a></li>
            </ul>
          </section>
          <section>
            <h4>todomvc demo</h4>
            <div class="part">
              <h5>代码</h5>
              <a href="https://gitlab.com/zhoudaxia/miniprog-demo">https://gitlab.com/zhoudaxia/miniprog-demo</a>
            </div>
            <div class="part">
              <h5>配置</h5>
              <ul>
                <li>eslint语法检查</li>
                <li>less</li>
                <li>require路径处理</li>
                <li>computed和watch</li>
              </ul>
            </div>
          </section>
          <section>
            小程序名字： mouj
            <img src="demo-code1.png"/>
          </section>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
      // More info about config & dependencies:
      // - https://github.com/hakimel/reveal.js#configuration
      // - https://github.com/hakimel/reveal.js#dependencies
      Reveal.initialize({
        center: false,
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
  </body>
</html>
